.containerLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loading{
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
    background-color: #1679AB;
    display: flex;
    justify-content: center;
    align-items: center;
}