.container{
    background-color: rgb(104, 112, 110);
    display: flex;
    justify-content: flex-end;
}

.container div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}